/* The hero image */

body, html, container {
    margin: 0;
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
}

.app {
    margin: 0;
    padding: 0;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../images/hero-image.png");

    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 58%;
    left: 4%;
    transform: translate(0%, -58%);
    color: white;
}